.header{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}
.container{
  padding: 20px;
  width: 500px;
  margin: auto;
  border: #282c34 2px solid;
  border-radius: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.container:hover{
  box-shadow: 10px 10px 30px #888888;
  transition: 0.3s;
  width: 520px;
}
.container .second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -25px;
  margin-top: -25px;
}

.container a button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4b6cb7;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.footer{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  margin-top: 20px;
  
}

.body {
  padding: 0 280px;
  /* space for sidebars */
}


/* LEFT SIDEBAR */
.sidebar-left {
  position: absolute;
  left: 0;
  top: 10px;
  margin-top: 10%;
  width: 15%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* RIGHT SIDEBAR */
.sidebar-right {
  position: absolute;
  right: 0;
  top: 10px;
  margin-top: 10%;
  width: 15%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* IMAGE STYLING */
.sidebar-left img,
.sidebar-right img {
  width: 90%;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
  
}

.sidebar-left img:hover,
.sidebar-right img:hover {
  transform: scale(1.03);
}

.favicons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.favicons img {
  margin-top:15px;
  cursor: pointer;
  transition: 0.2s ease;
}
